.projects {
    color: white;
}

.title {
    display: flex;
    justify-content: space-between;
}

.social-label {
    color: black;
    margin-top: 21px;
}

.social-icon {
    margin-right: 4px;
    margin-top: 3px;
    color: black;
}

.project-container {
    background-color: #e0e0e0;
    border-radius: 5px;
    max-width: 400px;
    max-height: 300px;
    padding: 12px;
    margin: 12px auto;
}

.project-image {
    max-width: 100%;
    object-fit: fill;
}

@media (min-width: 800px) {
    .projects-grid {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        justify-content: flex-start;
    }
    
}

@media (min-width: 1000px) {
    .projects-grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        justify-content: flex-start;
    }
}

@media (min-width: 1400px) {
    .projects-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        justify-content: flex-start;
    }
}

.project-title {
    color: black;
}

.used-technologies {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.technology-label {
    margin-top: 6px;
    margin-right: 1rem;
    padding: 6px;
    background-color: grey;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 12px;
}