.header {
  z-index: 1;
  margin: auto 15% auto 5%;
  position: sticky;
  height: 100px;
  color: white;
  display: flex;
  justify-content: space-between;
}

h1 {
  height: 40;
  margin: auto 0;
}

.socialIconLabel {
  margin-top: auto;
  margin-bottom: auto;
  list-style-type: none;
}

.socialIcon {
  margin-top: 6px;  
  color: white;
}

.socialLabel {
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: 1024px) {
  .socialLabel {
    content: none;
    width: 0;
  }
}

a {
  color: white;  
  text-decoration: none;  
  display: flex;
  font-size: smaller;
}
