main {
  background-color: #151515;
  position: relative;
  background-image: url('./images/profile.png');
  background-position: 85% 0%;
  background-size: 350px 400px;
  background-repeat: no-repeat;
}

@media (max-width: 1000px) {
  main {
    background-position: 90% 0%;
    background-size: 300px 350px;
  }
}

@media (max-width: 800px) {
  main {
    background-image: none;
  }
}

.content-container {
  margin-left: 10%;
}

.experience-container {
  margin-left: 10%;
  margin-right: 10%;
}

.projects-container {
  margin-left: 10%;
  margin-right: 10%;
}

.work-container {
  margin-left: 10%;
  margin-right: 10%;
}
