main {
  background-color: #151515;
  position: relative;
}

.content-container {
  margin-left: 10%;
}

.experience-container {
  margin-left: 10%;
  margin-right: 10%;
}

.projects-container {
  margin-left: 10%;
  margin-right: 10%;
}

.work-container {
  margin-left: 10%;
  margin-right: 10%;
}
